<div style="background: rgba(255, 255, 255, 0.5); margin: 40px; border-radius: 15px; position: fixed; right: 20px" title="close">
  <button class="dialog-close-icon" onclick="getElementById('gnibl-modal-mp').style.display = 'none';" style="border: 0px none"></button>
</div>
<style type="text/css">

  #regnib.btn-primary:hover,
  #regnib.btn-primary:focus,
  #regnib.btn-primary:active,
  #regnib.btn-primary.active,
  #regnib.btn-primary.disabled,
  #regnib.btn-primary[disabled]{
    background: rgb(23, 174, 255) !important;
    color: white;
  }
  #regnib.btn-primary{
    background: rgb(23, 174, 255) !important;
    color: white;
  }

  .thumbnail-control.control-modal{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: table-cell;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left:0px;
    height: 70px;
  }
  .gnibl-modal-view, .gnibl-view{
    top: 0px;
    text-align: center;
    border-radius: 20px;
    width: 550px; /* 450*/
    margin: auto;
    overflow-y: auto;
  }
  .gnibl-modal-view{
    background: rgba(255, 255, 255, 0.15);
  }
  .gnibl-view, .gnibl-view-panel{
    height: 450px;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .gnibl-view{
    position: relative;
    cursor: pointer;
    overflow-x: hidden;
    margin: auto;
    <% if gnib.video %>

    <% else %>
      <% if gnib.image.url %>
        background: url(<%=image_path(gnib.image.url)%>);
      <% else %>
        background: url(<%=image_path(gnib.imageurl)%>);
      <% end %>
    <% end %>
    background-size: 100% 100%;
  }
  .modal{
    overflow: hidden;
    border-radius: 10px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
  }
  .btn-modal{
    margin: 0px;
    width: 45px !important;
    height: 45px !important;
    background-size: 100% 100% !important;
  }
  .modal-profile{
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  .thumbnail-msg.modal-msg{
    width: 50%;
    float: left;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 18px;
    margin: auto;
  }
  .new-gnib-comment{
    width: 100%;
    height: 100px;
    min-height: 100px;
    margin: auto;
    margin-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .new-comment-profile{
    <% if current_user %>
      background: url(<%=image_path(current_user.avatar_url)%>);
    <% end %>
    background-size: 100% 100%;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
  }
  .new-comment-comment{
    float:left;
    margin-left: 1%;
    margin-top: 5px;
    width: 75%;
    text-align: left;
  }
  .gnibl-modal-gnib-it-logo{
    text-align: center;
    vertical-align: middle;
    width: 25%;
    position: absolute;
    right: 20%;
    border-left: 2px solid #aaa !important;
    border-right: 2px solid #aaa !important;
    padding: 1%;
    padding-top: 5px;
    height: 60px
  }
  div.gnibl-modal-user-section{
    color: #17aeff;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
  }
  #gnibl-modal-view-panel:hover .gnib-carousel{
    display: block;
  }
  button.gnib-like{
    background: url(<%= image_path('gnib_like.png') %>);
    background-size: 100% 100%;
    height: 16px;
    margin-bottom: 1px;
    width: 5px;
    border: 0px none;
    color: white;
    font-size: 14px;
  }

  .gnib-carousel.gnib-previous{
    left: 0%;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
  }
  .gnib-carousel.gnib-next, .gnib-carousel.gnib-previous{
    position: absolute;
    top: 45%;
    background: rgba(20, 20, 20, 0.8);
    width: 80px;
    height: 40px;
    font-size: 10px;
    line-height: 400%;
    color: red;
    display: none;
  }
  .gnib-carousel.gnib-next{
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    right: 0%;
  }
  div.gnib-title{
    width: 52%;
    font-size: 14px;
    text-align: left;
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 8px;
  }
  .thumbnail-control.control-modal{
    top: auto;
    left: auto;
  }
</style>
<div align="center" style="width: 96%; margin: 2%; z-index: 44990002; height: 100% ">
  <div id="gnibl-view" class="gnibl-modal-view" >
    <div id="thumbnail-control_<%=gnib.id%>" class="thumbnail-control control-modal"
         style=" width: 550px; margin: auto; ">
      <div class="gnib-title">
        <%= URI.unescape(gnib.title) %>
      </div>
      <div class="gnibl-modal-gnib-it-logo" style="top: 0px; height: 59px">
        <div id = "regnib_counts" style="position: absolute; margin-top:17px; margin-left:5px ">
          <% if gnib.gniblings.count > 0 %>
            <%= gnib.gniblings.count %>
          <% end %>
        </div>
        <button id="regnib" class="btn btn-large btn-primary" style ="font-size: 16px; padding: 5px 10px; min-width: 100px;
                text-align: left; margin-top:13px; margin-left: 25px"
                onclick="return doAjaxSubmit({gnib_id: '<%= gnib.id %>'}, '/gniblings/create');">
          <% if gnib.gniblings.count > 1 %>REGNIBS <%else %>REGNIB <%end%>
        </button>
      </div>

      <div style="width: 20%; margin-right: 10px; top: 5px; position: absolute; right: 10px">
        <button title="<%= gnib.upvotedby(current_user)%>" class="gnib-gnib-button up-button" style="border-left: none !important"
                onclick="return doAjaxSubmit({gnib_id: '<%= gnib.id %>'}, '/gnibs/upvotegnib');">
          <div id="upvoted_gnibs_<%=gnib.id%>"
               style="position: absolute; right: 44px; color: cyan; font-size: 12px; text-align: right; width: 40px">
                 <% if gnib.upvotegnibs.count > 0 %>
                   <%=  gnib.upvotegnibs.count%>
                 <% end %>
          </div>
          <span style="position: absolute; right: 10px; top: 0px;  background: url(<%= image_path('arrow_up.png') %>);
                height: 60px; width: 42px; margin: 0px; padding: 0px; background-size: 100% 100%"></span>
          <span id="upvoted_gnibs_ups_text_<%=gnib.id%>" style="position: absolute; right: 0px; color: cyan; font-size: 13px">
            Up<% if gnib.upvotegnibs.count > 1%>s<% end %>
          </span>
        </button>
      </div>
    </div>
    <div id="gnibl-view-panel" class="gnibl-view-panel">
      <div id="gnibl-modal-view-panel" class="gnibl-view" style="border-radius: 0px">
        <div class="gnib-carousel gnib-previous" onclick="previous();
      return false;"><</div>
        <div class="gnib-carousel gnib-next" onclick="next();
      return false;">></div>
             <% if gnib.video %>
          <iframe width="600" height="400" src="<%= gnib.youtube_embeddable_url %>" frameborder="0" allowfullscreen> </iframe>
        <% end %>

      </div>
    </div>
    <% unless gnib.video %>
      <div id="gnibl-modal-view" class="thumbnail-view"
           style="overflow: hidden; bottom: 0px; position: static; display: block; height: auto">
        <div class="gnibl-modal-user-section">
          <a href="/users/<%=gnib.user.html_safe_username%>" style="color: #17aeff;"><%=gnib.user.name%></a>
          <span style="font-size: 15px">  {<%= counts %> comments}</span>
        </div>
        <div id="thumbnail-modal-view_<%=gnib.id%>" style="width: 100%; display: block; margin: auto; position: relative">
          <div id="thumbnail-desc_<%=gnib.id%>" class="thumbnail-desc" style="  float: left; margin-bottom: 10px">
            <%=image_tag(image_path(gnib.user.avatar_url), :class=>"thumbnail-user-profile modal-profile")%>

          </div>
          <div id="thumbnail-desc-msg_<%=gnib.id%>" class="thumbnail-msg"
               style=" left: 30%; top: 40%; position: absolute; text-align: left; margin-bottom: 10px; overflow: hidden; ">
            <p><%= gnib.parsed_description%></p>
            <% if gnib.link %>
              <p><a target="_blank" href="<%= gnib.link %>">go to link</a></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if gnib.video %>
      <div id="gnibl-modal-view" class="thumbnail-view"
           style="overflow: hidden; bottom: 0px; position: relative;
           border-top-left-radius: 10px; border-top-right-radius: 10px; display: block; height: auto">
        <div id="gnibl-modal-user-section" class="gnibl-modal-user-section">
          <a id="gnibl-modal-user-section_user" href="/users/<%=gnib.user.html_safe_username%>" style="color: #17aeff;"><%=gnib.user.name%></a>
          <span id="gnibl-modal-user-section_comments_counts" style="font-size: 15px">  {<%= counts %> comments}</span>
        </div>
        <div id="thumbnail-modal-view-mod_<%=gnib.id%>" style="width: 100%; display: block; margin: auto">
          <div id="thumbnail-desc_<%=gnib.id%>" class="thumbnail-desc" style=" float: left; margin-bottom: 10px">
            <%=image_tag(image_path(gnib.user.avatar_url), :class=>"thumbnail-user-profile modal-profile")%>
          </div>
          <div id="thumbnail-desc-msg_<%=gnib.id%>" class="thumbnail-msg"
               style="  left: 30%; top: 40%; position: absolute; text-align: left; margin-bottom: 10px; overflow: hidden; ">
            <p><%= gnib.parsed_description%></p>
            <% if gnib.link %>
              <p><a target="_blank" href="<%= gnib.link %>">go to link</a></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div id="comment-panel" style="width: 100%">
      <%= render :partial=>"users/gnib_modal_comment_section", :locals =>{:gnib => gnib, :comments => comments, :counts => counts} %>
    </div>
  </div>
</div>
