<style type="text/css">
  #profile-image .gnibl-button {
    background: url(<%=image_path(@user.avatar_url)%>);
    background-size: 100% 100%;
  }
</style>
<%= render "/users/header" %>
<div style="position: relative; margin-top: 10px; background: rgba(0, 0, 0, 0.5); height: 100%; padding-bottom: 30px">
  <div style="width:100%;">
    <%= render "/users/gnib_header" %>
    <div id="gnib_main_panel" style="width: 100%; background: transparent; position: relative">
      <div align="center" id="gnib_panel_paginator" style="width: 100%">
      </div>
      <div id="gnib_panel" style="width: 100%; background: transparent;">
        <% if @gnibs.any? %>
          <%= render @gnibs %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="gnibl-modal-mp" class="gnibl-modal-mp">
  </div>
  <div align="center" id="gnib_something_dialog" >
    <div id="main_gnib_something_dialog">
      <div id="dialog-content" style="background: rgba(0, 61, 102,1.0) ; width: 45%;
           margin: auto; border-radius: 1000px; padding: 1% 1%; height: 90%;
           display: table-cell; vertical-align: middle">
        <div class="dialog-title">
          <span style="margin: 3px; color: white">gnib something</span>
          <button class="dialog-close-icon" onclick="cancelGnibSomething()"></button>
        </div>
        <div class="dialog-content">
          <%= render 'shared/gnibpost_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
