<div style="background: rgba(255, 255, 255, 0.5); float: right; margin: 40px; border-radius: 15px; overflow-y: auto" title="close">
  <button class="dialog-close-icon" onclick="getElementById('gnibl-modal-mp').style.display = 'none';" style="border: 0px none"></button>
</div>
<div id="gnibl-view" class="gnibl-view" style="height: auto">
  <table class="table-modal">
    <tr style="padding:0px; margin: 0px; width: 100%">
      <td colspan="3" style="width: 100%; height: 60px; background: #eee; padding:0px; margin:0px; color: #17aeff; text-align: center">
        <%= gnib.user.city %> <span style="color: #888">|</span> <%= gnib.title %> <span style="color: #888">|</span> Birmingham
      </td>
    </tr>
    <tr>
      <td class="centered" style="width: 50px">
        <button onclick="commentSlider.next();" class="arrow_left"></button>
      </td>
      <td class="centered" style="background: rgba(255, 255, 255, 0.1 ); padding: 10px">
        <%=image_tag(image_path(gnib.image.url), :style=>"width: 300px; height: 250px")%>
        <div style="width: 100%; padding-bottom: 10px; position: relative">
          <%=image_tag(image_path(gnib.user.avatar_url), :style=>"margin-bottom: 10px; width: 50px; height: 50px; border-radius: 100px; float: left; margin-left: 30px;margin-top: 5px")%>
          <div style="float:left; margin-left: 1%; margin-top: 5px; width: 65%; text-align: left; ">
            <span style="color: #17aeff"> <%= gnib.user.name %> {<%= counts %> comments} </span>
            <br/>
            <div style="background: rgba(255,255,255, 0.2); width: 100%; height: auto; min-height: 40px; color: black; border-radius: 5px;padding-left: 5px">
              <div style="width: 70%; float: left"><%= gnib.description %></div>
              <button title="Add a gnib photo" class="add-gnib-photo"></button>
              <button id="commentBtn" title="Comment on this gnib" class="comment-on-gnib" onclick="showComment();"></button>
              <script type="text/javascript">
                $('#commentBtn').click(function(){
                  $('#gnib-comment-panel').slideDown(600, function(){
                    this.show();
                  });
                });
              </script>
            </div>
            <br/>
            <div id="gnib-comment-panel" style="background: transparent; width: 100%; display: none">
              <%= form_for(gnib, :remote => true, :url => {:action => "comment", :controller => "gnibs"}, :method => "get") do |f| %>
                <input type="text" name="comment" placeholder="What do you like about this gnib"/>
                <%=f.hidden_field :gnib_id, :value=>"#{gnib.id}"%>
                <%=f.submit "Comment", :style => "display: none"%>
              <% end %>
            </div>
          </div>
        </div>
      </td>
      <td class="centered" style="width: 50px">
        <button onclick="commentSlider.previous();" class="arrow_right"></button>
      </td>
    </tr>
    <% if comments.any? %>
    <tr id="commentsBoxPanel" style="background: rgba(40, 40, 40, 0.8); text-align: center; height: 100px; display: none">
        <td colspan="3" style="vertical-align: middle; padding: 0px; margin: 0px">
          <button style="float: right" onclick="commentSlider.next();" class="arrow_right"></button>
          <button style="float: left;" onclick="commentSlider.previous();" class="arrow_left"></button>
          <div id="gnib-main_panel_comments" style="width: 72%; margin-top: 0px; float: left">
            <div id="gnib-comments" style="position: relative;">
              <%= render :partial=>"shared/gnib_comment", :collection=>comments, :as=>:comment  %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
