<style type="text/css">
  #profile-image .gnibl-button {
    background: url(<%=image_path(@user.avatar_url)%>);
    background-size: 100% 100%;
  }
</style>
<%= render "/users/header" %>
<div style="width:100%; margin-top: 10px; background: rgba(0, 0, 0, 0.5);">
  <%= render "/users/gnib_header" %>
  <div id="gnib_panel" style="width: 100%; background: transparent; position: relative">
    <% if @gnibs.any? %>
      <%= render @gnibs %>
    <% end %>
  </div>
</div>
<%= render "/users/gnib_modal" %>
<div align="center" id="gnib_something_dialog" >
  <div id="main_gnib_something_dialog">
    <div id="dialog-content" style="background: rgba(0, 61, 102,1.0) ; width: 45%;
         margin: auto; border-radius: 1000px; padding: 1% 1%; height: 90%;
         display: table-cell; vertical-align: middle">
      <div class="dialog-title">
        <span style="margin: 3px; color: white">gnib something</span>
        <button class="dialog-close-icon" onclick="cancelGnibSomething()"></button>
      </div>
      <div class="dialog-content">
        <%= render 'shared/gnibpost_form' %>
      </div>
    </div>
  </div>
  <br><br>
</div>
