
<div class="profile_header" style="width: 98%; z-index: 3455; margin-left: 12px">
  <table style="width: 100%;" cellspacing="10">
    <tbody>
      <tr>
        <td class="border-right" style="width: 14.3%; vertical-align: bottom">
          <%=image_tag(image_path('FINALE-FINALE!!-_03.png'), :style => 'width: 50px; height: 50px; float: left')%>
          <span style="font-size: 40px; color: #17aeff; line-height: 100%; bottom: 0px; position: absolute; margin-bottom: 3px; left: 55px">gnibl</span>
        </td>
        <td class="border-right" style="width: 14.3%">
          <a href="/users/<%=current_user.username%>" >
            <span style="color: #17aeff">
              gnib<span style="color: white">file</span></span>
          </a>
        </td>
        <td class="border-right" style="width: 14.3%">
          <span style="color: #17aeff">
            gnib<span style="color: white">picks</span></span>
        </td>
        <td class="border-right" style="width: 14.3%">
          <span style="color: #17aeff;">
            gnib<span style="color: white">streams</span></span>
        </td>
        <% if(current_user?(@user)) %>
          <td id="gnib-something" class="centered border" style="width: 14.3%;">
            <button class="flat-style" onclick="gnibSomething()" style="color: #bbb">gnib something</button>
          </td>
          <td id="settings" class="centered border-right" style="width: 14.3%">
            <button class="flat-style" style="color: #bbb;">settings</button>
          </td>
          <td class="centered" style="width: 14.3%">
            <div id="setting-header" class="setting-header" style="display: block">
              <%= link_to "logout", "/signout", :style => "color: #17aeff; font-weight: bold"%>
            </div>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<div style="width: 100%; margin-top: 70px">
  <table>
    <tbody>
      <tr>
        <td style="width: 11%; min-width: 150px; vertical-align:top">
          <%= form_for(@user, :url => "/users/#{@user.username}",:html =>{:id => "current_user_form"}) do |f| %>
            <div id="profile-image">
              <% if current_user?(@user) %>
                <div class="wrapper" >
                  <div style="width: 100%; height: 100%; position:relative;" id="upload_user_image">
                    <%= f.file_field :avatar_url, :id => "current_user_file_upload", :class => "file-upload", :title=>"Change your profile image" %>
                    <%= image_tag(image_path('FINALE-FINALE!!-_03.png'), :class=>"gnibl-file-logo") %>
                    <div class="gnibl-file-logo" style="left: 5px; top: 90px; width: 100%;">Update profile photo</div>
                  </div>
                </div>
              <% end %>
              <div class="gnibl-button"></div>
            </div>
          <% end %>
        </td>
        <td style=" padding: 1%; vertical-align: top">
          <table>
            <tr>
              <td>
                <div class="profile-title" style="width: 400px;">
                  <%=@user.name %><span style="color: white; border-right: 2px solid rgba(255, 255, 255, 0.2); margin-left: 5px;"></span>
                  <span ><%=@user.city%></span>
                </div>
              </td>
            </tr>
            <tr>
              <% if(current_user?(@user)) %>
                <%= form_for(@user, :url => "/users/#{@user.username}", :remote=>true) do |f| %>
                  <td colspan="1" style="width: 400px; padding-top: 10px">
                    <div style="width: 100%; position: relative;">
                      <%= f.text_area :description, :maxlength => "255",
                        :id => "profileSummary", :rows => "2", :cols => "14",
                        :placeholder => "Describe yourself here briefly",
                        :onkeypress => "return enforceMaxlength('profileSummary', 254);",
                        :style=>"overflow: hidden; border-radius: 10px; padding 10px; z-index: 23",
                        :title=>"Double click to update",:onkeyup=>"updateProfile();" %>
                      <div id="update-profile" class="update-profile" style="border-radius: 50px; height: 40px; padding-top: 5px; margin-top: 3px">
                        <%= f.submit :class => "gnibl-icon", :value=>"", :style => "width: 35px !important; height: 35px !important; margin:auto",
                          :onclick=>"document.getElementById('update-profile').style.display='none';"%>
                        <button class="dialog-close-icon" onclick="document.getElementById('update-profile').style.display='none';return false;"
                                style="float: right; margin-right: 30px"></button>
                        <span style="color: #17aeff; margin-right: 65px">Update profile</span>
                      </div>
                    </div>
                  </td>
                <% end %>
              <% else %>
                <td colspan="2">
                  <div style="color: white; opacity: 0.8; max-width: 400px">
                    <%= @user.description %>
                    <div id="follow-option-panel" style="width:100%;">
                      <%= render "/users/follow_form" if signed_in?%>
                    </div>
                  </div>
                </td>
              <% end %>
              </td>
            </tr>
          </table>
        </td>
        <td style="vertical-align: top; padding: 1%; text-align: center; margin-right: 2%">
          <form action="/gnibs/search" method="get">
            <table style="width: 100%;">
              <tr>
                <td>
                  <input id="search-box" class="search-box" name="term" type="text" placeholder="Search gnibs"/>
                </td>
                <td>
                  <div class="what">?</div>
                </td>
              </tr>
            </table>
            <br/>
            <input value="" type="submit" class="gnibl-file-log" title="search gnibs/gniblers"
                   style="border: 0px none; width: 40px; height: 30px; background: url(<%=image_path('FINALE-FINALE!!-_03.png')%>) no-repeat; background-size: 100% 100%"/>
          </form>
          <script type="text/javascript">
            String.prototype.endsWith = function(suffix) {
              return this.indexOf(suffix, this.length - suffix.length) !== -1;
            };
            String.prototype.contains = function(suffix) {
              return this.indexOf(suffix) !== -1;
            };
            var currentUrl = location.href;
            console.log(currentUrl);
            var input = document.getElementById('search-box');
            var gnibSomething = document.getElementById('gnib-something');
            var settings = document.getElementById('settings');
            if(currentUrl.endsWith('following') || currentUrl.contains('users/search')){
              if(input){
                input.name = 'uid';
                input.form.action = '/users/search';
                input.placeholder = 'search gniblers';
              }
              if(gnibSomething){
                gnibSomething.style.display = 'none';
              }
              settings.className = 'centered border';
            }
          </script>
        </td>
      </tr>
    </tbody>
  </table>
</div>