<!-- you can obtain stuff like gnib.title, gnib.description, gnib.landmark -->
<!-- button class="gnib-icon" title="gnib this gnibl">4</button -->
<% if(user.avatar_url ) %>
  <div id="user_thumbnail_<%=user.id%>"
       class="gnib-thumbnail" style="margin: 0px; float: left;">
    <script type="text/javascript">
      $('#user_thumbnail_<%= user.id %>').hover(function() {
        $('#thumbnail-view-name_<%=user.id%>').hide();
        $('#thumbnail-control_<%= user.id%>').slideDown(1200, function() {
          $(this).show();
        });
        $('#thumbnail-view_<%= user.id%>').slideDown(1200, function() {
          $(this).show();
        });
      },
              function() {
                $('#thumbnail-control_<%=  user.id%>').slideUp(1200, function() {
                  $(this).hide();
                });
                $('#thumbnail-view_<%=  user.id%>').slideUp(1200, function() {
                  $(this).hide();
                });
                $('#thumbnail-view-name_<%=user.id%>').show();
              });
    </script>

    <div id="thumbnail-control_<%=user.id%>" class="thumbnail-control"
         style="border-top-left-radius: 10px; border-top-right-radius: 10px; top: 0px">
      <div align="center" style=" width:100%; border-bottom: 1px solid white; "> <!-- holds two fields, gniblers and gnibling count indicators-->
        <div style="color: #17aeff; font-size: 15px; font-weight: bold; height: 20px; display: table-cell; vertical-align: middle; padding-left: 20px;border-right: 1px solid white; padding-right: 5px; width: 50%">
          <%= user.followers.count %> gniblers
        </div>
        <div style="color: #17aeff; font-size: 15px; font-weight: bold; height: 20px; display: table-cell; vertical-align: middle; padding-left: 20px; width: 50%">
          gnibbling <%= user.followed_users.count%>
        </div>
      </div> <!-- end of gnibling field holder -->
      <% if (!current_user?user) %>
        <div id="follow-option_<%= user.id %>" class="gnib-gnib-button" style="float: left;width: auto;height: auto; background: none; padding-top: 5px; align:center; padding-left: 70px;">
          <%= render :partial => "users/inn_follow", :locals => {:user => user} %>
        </div>
      <%end%>
    </div>
    <%= image_tag(image_path(user.avatar_url),
      :class => 'gnib', :id=>"gnib_#{user.id}",
      :onclick=>"location.href = '/users/#{user.html_safe_username}'",
      :style=>"margin-top: 0px; border-radius: 0px")%>
    <!-- This is visible before hovering -->
    <div id = "thumbnail-view-name_<%=user.id%>"
         class="thumbnail-view"
         style="overflow: hidden; border-radius: 10px;
         color: #17aeff; font-size: 15px; font-weight: bold; height: 40px;
         display: table-cell; vertical-align: middle; text-align:left; padding-left: 5px;
         border-radius: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px">
      <div style="">
        <%= user.name %>  <%= user.surname %>
      </div>
    </div>
    <div id="thumbnail-view_<%=user.id%>" class="thumbnail-view"
         style="overflow: hidden; min-height: 40px; bottom: 0px; border-radius: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px">
      <div id="thumbnail-desc_<%=user.id%>" class="thumbnail-desc" style="width: 100%">
        <div style="align: center; width:100%; border-bottom: 1px solid white; "> <!-- holds name indicator-->
          <div style="color: #17aeff; font-size: 15px; font-weight: bold; height: 20px; display: table-cell;
               vertical-align: middle; text-align:center; width:100%; align:center;">
            <%= user.name %>  <%= user.surname %>
          </div>
        </div>
        <div id="thumbnail-desc-msg_<%=user.id%>" style="height: auto; width: 100%; line-height: auto;">
          <%= user.description%>
        </div>
      </div>
    </div>
  </div>
<% end %>
