<!-- you can obtain stuff like gnib.title, gnib.description, gnib.landmark -->
<!-- button class="gnib-icon" title="gnib this gnibl">4</button -->
<% if(user.avatar_url ) %>
  <div onmouseover="showGnibThumbnailControl('thumbnail-control_<%=user.id%>'); showGnibThumbnailControl('thumbnail-view_<%=user.id%>');"
       onmouseout="hideGnibThumbnailControl('thumbnail-control_<%=user.id%>'); hideGnibThumbnailControl('thumbnail-view_<%=user.id%>');"
       class="gnib-thumbnail" style="margin-bottom: 5px;">
    <div id="thumbnail-control_<%=user.id%>" class="thumbnail-control">
      <div class="gnib-count" style="font-size: 20px;"  align="center">
        <div id="gnib_count_<%=user.id%>" style="width: 100%; height:100%; padding-top:5px" align="center"><%=user.gniblings.count%></div>
      </div>
      <% if (!current_user?user) %>
        <div id="follow-option_<%= user.id %>" class="gnib-gnib-button" style="height: 40px; background: none; padding-top: 5px; margin-right: 20px">
          <%= render :partial => "users/inn_follow", :locals => {:user => user} %>
        </div>
      <%end%>
    </div>
    <%= image_tag(image_path(user.avatar_url), :class => 'gnib', :id=>"gnib_#{user.id}", :onclick=>"location.href = '/users/#{user.username}'")%>
    <div id="thumbnail-view_<%=user.id%>" class="thumbnail-view" style="overflow: hidden; min-height: 60px; ">
      <div id="thumbnail-desc_<%=user.id%>" class="thumbnail-desc" style="width: 100%">
        <span style="color: #17aeff; font-size: 16px; font-weight: bold"><%=user.name%></span>
        <br/>
        <div id="thumbnail-desc-msg_<%=user.id%>" class="thumbnail-msg" style="width: 100%">
          <%= user.description%>
        </div>
      </div>
    </div>
  </div>
<% end %>
