<% provide(:title,"Sign Up") %>
<div align="center" class="login-main-panel">
  <div align="center" class="signup-main" id="signup-main">
    <%= image_tag(image_path('FINALE-FINALE!!-_03.gif'), :class => 'gnibl-logo', :style => "height: 60px")%>
    <div style="width: 100%">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.text_field :name, :class => 'input-option', :placeholder => 'Full name'%>
        <%= f.hidden_field :city , :class => 'input-option'%>
	 <input class="input-option" id="city_name" name="city_name" placeholder="City" size="30" type="text" />
        <%= f.text_field :email , :class => 'input-option', :placeholder => 'Your Email' %>
        <%= f.password_field :password , :class => 'input-option', :placeholder => 'password'%>
        <%= f.password_field :password_confirmation , :class => 'input-option', :placeholder => 'confirm password'%>
        <br/>
        
        
        <%= f.submit("Join Gnibl",:class => "btn btn-large btn-primary" ) %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  //we try to make the height and width of the gnibl login page the same
  var loginMain = document.getElementById('signup-main');
  if(loginMain) {
    var width = Math.floor(0.345 * window.innerWidth);
    console.log('login-main width: '+width);
    loginMain.style.height = width+'px';
  }
</script>

<script>
var renderList = function (ul, item) {
        return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a>" + item.city_name+", "+item.country_name + "</a>")
                .appendTo(ul);
    };

var hashFilter = function(string){
return null;
};

var triggerChar = "#";
 var autoc = {
     source: '/users',
     focus: function(event, ui){
            var de = "tr  " + JSON.stringify(ui.item.city_name);
		var city_identi = ui.item.city_name+", "+ui.item.country_name;
		var prev = $('#city').val();
		var pos = prev.lastIndexOf(triggerChar);
		if (pos !== -1){
		   var content = prev.substring(0,pos+1);
		$('#city').val( content + city_identi);			
		}
            
            $('#user_city').val(ui.item.id);
            return false;
          },

    select: function(event,ui){
var city_identi = ui.item.city_name+", "+ui.item.country_name;
		var prev = $('#city').val();
		var pos = prev.lastIndexOf(triggerChar);
		if (pos !== -1){
		   var content = prev.substring(0,pos+1);
		$('#city').val( content + city_identi);			
		}

          return false;
          },    
    beforeRetrieve: hashFilter,
    minLength: 2,
    triggerOnSpecial: true,
    specialChar: triggerChar,
    delay: 250
   };

var simpleAutocomplete =  {
     source: '/users',
     focus: function(event, ui){
            var de = "tr  " + JSON.stringify(ui.item.city_name);
		var city_identi = ui.item.city_name+", "+ui.item.country_name;		
		$('#city_name').val(city_identi);					
            
            $('#user_city').val(parseInt(ui.item.id));
            return false;
          },

    select: function(event,ui){
var city_identi = ui.item.city_name+", "+ui.item.country_name;		
		$('#city_name').val(  city_identi);					
          return false;
          },        
    specialChar: triggerChar,
    delay: 250
   };

$(function() {
$("#city_name").autocomplete(simpleAutocomplete)
.data("uiAutocomplete")._renderItem = renderList;

});
</script>
