<style type="text/css">
#profile-image {
    position: relative;
    width: 150px;
    height: 150px;
}

#profile-image .wrapper {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 2;
}

#profile-image .wrapper:hover {
    opacity: 0.5;
}

#profile-image .gnibl-button {
    background: url(<%=image_path(@user.avatar_url)%>);
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
    border: none;
    color: #666;
    padding: 3px 5px;
    border-radius: 5px;
    position: relative;
    top: 0;
    z-index: 1;
}
</style>

<div class="profile_header" style="width: 100%; background: #666666">
  <table style="width: 100%">
    <tbody>
      <tr>
        <td class="current_selected_header border-right">
	  <a>
	    <%=image_tag(image_path('FINALE-FINALE!!-_03.gif'), :style => 'width: 80px; height: 40px')%>

	    <span style="font-weight: bold; font-size: 16px; opacity: 1.0">profile</span>
	  </a>
	</td>
  	<td class="border-right">
          <span style="font-weight: bold; font-size: 16px; color: #aaaaaa">
	GNIB<span style="font-weight: bold; font-size: 15px; color: white">picks</span></span>
        </td> 
	<td class="border-right">
          <span style="font-weight: bold; font-size: 16px; color: #bbbbbb">
	GNIB<span style="font-weight: bold; font-size: 15px; color: white">feeds</span></span>
        </td> 
	<td class="border-right"/>
	<td class="centered">search</td>
        <% if(current_user?(@user)) %>
	<td><div class="circle"></div></td>
	<td class="centered"><button class="flat-style" onclick="gnibSomething()" style="color: white">gnib something</button></td>
	<td><div class="circle"></div></td>
 	<td class="centered">
	 <button class="flat-style" onclick="showOptions()" style="color: white;">Settings</button>
	 <div 
	</td>
   	<% end %>
      </tr>
    </tbody>
  </table>
 <div style="display: block; position:fixed; z-index: 10002; width: 100px;top:30px; right: 43px; background: #dddddd; padding: 10px; display: none">
    <%= link_to "Log out", "/signout", :style => "color: red; font-size: 16px; font-weight: bold"%>
    <br/>
    <%= link_to "Log out", "/signout", :style => "color: red; font-size: 16px; font-weight: bold"%>
    <br/>
    <%= link_to "Log out", "/signout", :style => "color: red; font-size: 16px; font-weight: bold"%>
 </div>
</div>
<div style="width: 98%; margin: 50px 1%">
<table>
 <tbody>
  <tr>
   <td style="width: 11%; min-width: 150px; vertical-align:top">
     <% if current_user?(@user) %>
      <%= form_for(@user, :url => "/users/#{@user.username}") do |f| %>
      <div id="profile-image">
	<div class="wrapper">
	 <%= f.file_field :avatar_url %>
	</div>
	<button type="submit" class="gnibl-button"/>
      </div>
      <% end %>
     <% else %>
      <%=image_tag(image_path(@user.avatar_url),:style => 'width: 150px; height: 150px' )%>
     <% end %>
   </td>
   <td style="width: 87%; padding: 1%">
    <table>
     <tr>
      <td>
	<span style="font-size: 16px; color: blue; font-weight: bold">
	 <%=@user.name %><span style="color: white"> | </span> <span style="font-size: 14px"><%=@user.city%></span>
        </span>
      </td>
     </tr>
     <tr>
     <% if(current_user?(@user)) %>
      <%= form_for(@user, :url => "/users/#{@user.username}") do |f| %>
       <td colspan="1" style="min-width: 200px">
	<%= f.text_area :description, :maxlength => "255",
	:id => "profileSummary", :rows => "3", :cols => "8", 
	:placeholder => "Describe yourself here briefly", 
	:onkeypress => "return enforceMaxlength('profileSummary', 254);" %>
       </td>
       <td style="vertical-align: top">
	<%= f.submit :value => "update profile", :class => "btn btn-primary", :style => "float: right"%>
       </td>
      <% end %>
     <% else %>
      <td colspan="2">
	<div style="background: #black; color: white; opacity: 0.8; max-width: 400px">
	 <%= @user.description %>
	</div>
      </td>
     <% end %>
     </td>
     </tr>
    </table>
    <table style="bottom: 0px; width: 100%">
     <tbody>
 	<tr >
         <% if(current_user?(@user)) %>
	 <td class="prof-not-bd">notifications</td>
	 <td class="prof-not-bd" style="max-width: 60px"><div class="circle"></div></td>
	 <% end %>
	 <td class="prof-not-bd">gniblers(50)</td>
	 <td class="prof-not-bd" style="max-width: 60px"><div class="circle"></div></td>
	 <td class="prof-not-bd">my gnibls(<%=@user.gnibs.count%>)</td>
         <% if(current_user?(@user)) %>
	 <td class="prof-not-bd" style="max-width: 60px"><div class="circle"></div></td>
	 <td class="prof-not-bd">gnibmarks(48)</td>
	 <% end %>
	</tr>
     </tbody>
    </table>
   </td>
  </tr>
 </tbody>
</table>
<div align="center" style="width:100%; margin-top: 10px">
 <% if @gnibs.any? %>
  <%= render @gnibs %>
 <% end %>
 </div>
</div>
<div align="center" id="gnib_something_dialog" >
  <div style="background: white; width: 50%; margin: 1% 10%; padding: 1% 1%; opacity: 1.0">
   <div class="dialog-title">
    <span style="margin: 3px">Gnib Something</span>
    <button class="dialog-close-icon" onclick="cancelGnibSomething()"></button>
  </div>
   <%= render 'shared/gnibpost_form' %>
  </div>
</div>
 <script type="text/javascript">
  function gnibSomething(){
   var dialog = document.getElementById('gnib_something_dialog');
   console.log(dialog);
   if(dialog) {
    dialog.style.display = 'block';
    var width = window.innerWidth;
    var height = window.innerHeight;
    dialog.style.width = width+'px';
    dialog.style.height = height+'px';
   }
  }
  function cancelGnibSomething(){
   var dialog = document.getElementById('gnib_something_dialog');
   dialog.style.display = 'none';
  }
  function enforceMaxlength(id, maxlength){
   var obj = document.getElementById(id);
	console.log('id:'+id);
   if(obj){
     return obj.value.length <= maxlength;
   }
  }
 </script>

