<style type="text/css">
  #regnib.btn-primary:hover,
  #regnib.btn-primary:focus,
  #regnib.btn-primary:active,
  #regnib.btn-primary.active,
  #regnib.btn-primary.disabled,
  #regnib.btn-primary[disabled]{
    background: rgb(23, 174, 255) !important;
    color: white;
  }
  #regnib.btn-primary{
    background: rgb(23, 174, 255) !important;
    color: white;
  }
</style>

<% if(gnib) %>
  <div id="<%=gnib.id%>"
       class="gnib-thumbnail" style="margin-bottom: 0px; padding-bottom: 0px; float: left;">
    <div id="thumbnail-control_<%=gnib.id%>" class="thumbnail-control"
         style="border-top-left-radius: 5px; border-top-right-radius: 5px; height: 50px">
      <div id = "regnib_counts" style="position: absolute; margin-top:17px; margin-left:5px ">
        <% if gnib.gniblings.count > 0 %>
          <%= gnib.gniblings.count %>
        <% end %>
      </div>
      <button id="regnib" class="btn btn-large btn-primary" style ="font-size: 16px; padding: 5px 10px; min-width: 100px;
              text-align: left; margin-top:9px; margin-left: 25px"
              onclick="return doAjaxSubmit({gnib_id: '<%= gnib.id %>'}, '/gniblings/create');">
        <% if gnib.gniblings.count > 1 %>REGNIBS <%else %>REGNIB <%end%>
      </button>
      <% if current_user %>
        <% unless ( current_user?@user && request.path == "/users/#{@user.html_safe_username}") %>
          <button title="<%= gnib.upvotedby(current_user)%>" class="gnib-gnib-button up-button"
                  onclick="return doAjaxSubmit({gnib_id: '<%= gnib.id %>'}, '/gnibs/upvotegnib');">
            <span id="upvoted_gnibs_<%=gnib.id%>" style="position: absolute; right: 34px; color: cyan; font-size: 12px">
              <% if gnib.upvotegnibs.count > 0 %>
                <%=  gnib.upvotegnibs.count%>
              <% end %>
            </span>
            <span style="position: absolute; right: 10px; top: 0px;  background: url(<%= image_path('arrow_up.png') %>);
                  height: 60px; width: 42px; margin: 0px; padding: 0px; background-size: 100% 100%"></span>
            <span id="upvoted_gnibs_ups_text_<%=gnib.id%>" style="position: absolute; right: 0px; color: cyan; font-size: 13px">
              Up<% if gnib.upvotegnibs.count > 1%>s<% end %>
            </span>
          </button>
          <button title="gnib it!" class="gnib-gnib-button"
                  style="float: right; border-left: 2px solid white !important; position: relative; border-radius: 0px;
                  background-size: 42px 42px; margin: auto !important; background-position: 10px;
                  width: 65px; height: 50px; font-size: 17px"
                  onclick="return doAjaxSubmit({gnib_id: '<%= gnib.id %>'}, '/gniblings/create');">
          </button>
        <% end %>
      <% end %>
    </div>
    <button class="gnib" style="background:transparent; border: 0px none; margin-top: 0px; border-radius: 0px"
            data-gnib-id="<%=gnib.id%>"
            onclick="resetCurrentIndex(<%= gnib.id%>);
                    doAjaxSubmit({gnib_id: '<%= gnib.id %>'}, '/gnibs/retcomment');
                    return false;">
              <%= image_tag(image_path(gnib.imageurl), :class => 'gnib', :id=>"gnib_#{gnib.id}",
                :style=>"height: 100%; border-radius: 0px !important; margin-top: 0px !important;")%>
    </button>
    <div  class="thumbnail-view" style="overflow: hidden; bottom: 0px; ; border-radius: 10px; display: block; height: auto; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
      <div style="color: #17aeff; font-size: 15px; font-weight: bold; height: 40px; display: table-cell; vertical-align: middle; padding-left: 5px">
        <a target="_blank" href="<%=gnib.link%>" <%if gnib.title %>
             title = "<%= CGI.unescapeHTML(URI.unescape("#{gnib.title.html_safe}")) %>" <% end %> style="color: #17aeff;">
             <% if gnib.short_title %>
               <%=  CGI.unescapeHTML(URI.unescape("#{gnib.short_title.html_safe}")) %>
             <% end %>
        </a>

      </div>
      <div id="thumbnail-view_<%=gnib.id%>"
           style="width: 100%; display: none; margin: auto; border-top: 2px solid white;  padding-top: 4px !important">
        <a href = "/users/<%=gnib.user.username%>">
          <div id = "thumbnail-name_<%=gnib.id%>" class = "thumbnail-name" style="color: #17aeff;">
            <%= gnib.user.name %> <%= gnib.user.surname %>
          </div>
        </a>
        <div id="thumbnail-desc_<%=gnib.id%>" class="thumbnail-desc"
             style="width: 40%; float: left; margin-bottom: 10px;">
               <%=image_tag(image_path(gnib.user.avatar_url), :class=>"thumbnail-user-profile" )%>
        </div>
        <div id="thumbnail-desc-msg_<%=gnib.id%>" class="thumbnail-msg"
             style="left: 35%; top: 32%; position: absolute;
             text-align: left; margin-bottom: 10px; overflow: hidden; font-size: 12px ">
          <p><%= gnib.parsed_description%></p>
          <% if gnib.title.length < 1 %>
            <p><a target="_blank" href="<%= gnib.link %>">go to link</a></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
                var speed = 300;
                var rollbackSpeed = 600;
                $('#<%= gnib.id %>').hover(function() {
                  $('#thumbnail-view_<%=gnib.id%>').slideDown(speed, function() {
                    $(this).show();
                  });
                  $('#thumbnail-control_<%=gnib.id%>').slideDown(speed, function() {
                    $(this).show();
                  });
                },
                        function() {
                          $('#thumbnail-control_<%=gnib.id%>').slideUp(rollbackSpeed, function() {
                            $(this).hide();
                          });
                          $('#thumbnail-view_<%=gnib.id%>').slideUp(rollbackSpeed, function() {
                            $(this).hide();
                          });
                        });
  </script>
<% end %>
