<% if(gnib) %>
  <div id="<%=gnib.id%>"
       class="gnib-thumbnail" style="margin-bottom: 5px;">
    <div id="thumbnail-control_<%=gnib.id%>" class="thumbnail-control" style="margin-top: 6px">
      <table>
        <tbody>
          <tr>
            <% if gnib.title.length >12 %>
              <td style="width: 60%; font-size: 20px; border-right: 2px solid #aaaaaa; text-align: center; color: #17aeff">
                <%= gnib.title %>
              </td>
            <% else %>
              <td style="width: 60%; font-size: 25px; border-right: 2px solid #aaaaaa; text-align: center; color: #17aeff">
                <%= gnib.title %>
              </td>
            <% end %>
            <td style="text-align: left; vertical-align: middle">
              <%= form_for(@user.gniblings.build(:gnib_id => gnib.id), :remote => true, :update=>"indicator") do |f| %>
                <%= f.hidden_field :gnib_id  %>
                <%= f.hidden_field :current_url, :value => "#{request.fullpath}"  %>
                <%= f.submit "",:title => "gnib it!", :class => "gnib-gnib-button", :style=>"margin: 0px; margin-top: 5px"%>
              <% end %>
            </td>
            <td>
              <div class="gnib-count"
                   style="font-size: 20px; width: 60px; height: 30px; color: white;"
                   align="center">
                <div id="gnib_count_<%=gnib.id%>" style="width: 100%; padding-top: 5px" align="center" title="Number of gnibs">
                  <%=gnib.gniblings.count%>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <%=form_for(gnib, :remote=>true, :url => {:action => "retcomment", :controller => "gnibs"}, :method => "get") do |f|%>
      <%= f.hidden_field :gnib_id, :value => "#{gnib.id}" %>
      <button class="gnib" style="background:transparent; border: 0px none">
        <%= image_tag(image_path(gnib.image.url), :class => 'gnib', :id=>"gnib_#{gnib.id}")%>
      </button>
    <% end %>
    <div id="thumbnail-view_<%=gnib.id%>" class="thumbnail-view" style="overflow: hidden; bottom: 0px">
      <table>
        <tbody>
          <tr>
            <td>
              <div id="thumbnail-desc_<%=gnib.id%>" class="thumbnail-desc" style=" float: left; width: 100%">
                <span style="color: #17aeff; font-size: 16px; font-weight: bold"><%=gnib.user.name%></span>
                <br/>
                <%=image_tag(image_path(gnib.user.avatar_url), :class=>"thumbnail-user-profile")%>
              </div>
            </td>
            <td>
              <div id="thumbnail-desc-msg_<%=gnib.id%>" class="thumbnail-msg" style="float:right; width: 100%; margin: auto">
                <%= gnib.parsed_description%>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script type="text/javascript">
    $('#<%= gnib.id %>').hover(function() {
      $('#thumbnail-view_<%=gnib.id%>').slideDown(1200, function() {
        $(this).show();
      });
      $('#thumbnail-control_<%=gnib.id%>').slideDown(1200, function() {
        $(this).show();
      });
    },
            function() {
              $('#thumbnail-control_<%=gnib.id%>').slideUp(1200, function() {
                $(this).hide();
              });
              $('#thumbnail-view_<%=gnib.id%>').slideUp(1200, function() {
                $(this).hide();
              });
            });
  </script>
<% end %>
