<% if(gnib.image && gnib.image.url) %>
  <div id="<%=gnib.id%>" onmouseover="showGnibThumbnailControl('thumbnail-control_<%=gnib.id%>');
        showGnibThumbnailControl('thumbnail-view_<%=gnib.id%>');"
       onmouseout="hideGnibThumbnailControl('thumbnail-control_<%=gnib.id%>');
        hideGnibThumbnailControl('thumbnail-view_<%=gnib.id%>');"
       class="gnib-thumbnail" style="margin-bottom: 5px;">
    <div id="thumbnail-control_<%=gnib.id%>" class="thumbnail-control">
      <div class="gnib-count" style="width: 100px; float: left; display: none"><%= image_tag(image_path('busy.png')) %></div>
      <div class="gnib-count" style="font-size: 20px;"  align="center">
        <div id="gnib_count_<%=gnib.id%>" style="width: 100%; height:100%; padding-top:5px" align="center"><%=gnib.gniblings.count%></div>
      </div>
      <%= form_for(@user.gniblings.build(:gnib_id => gnib.id), :remote => true, :update=>"indicator") do |f| %>
        <div>
          <%= f.hidden_field :gnib_id  %>
          <%= f.hidden_field :current_url, :value => "#{request.fullpath}"  %>
        </div>
        <%= f.submit "",:title => "gnib", :class => "gnib-gnib-button"%>
      <% end %>
    </div>
    <%=form_for(gnib, :remote=>true, :url => {:action => "retcomment", :controller => "gnibs"}, :method => "get") do |f|%>
      <%= f.hidden_field :gnib_id, :value => "#{gnib.id}" %>
      <button class="gnib" style="background:transparent; border: 0px none">
        <%= image_tag(image_path(gnib.image.url), :class => 'gnib', :id=>"gnib_#{gnib.id}")%>
      </button>
    <% end %>
    <div id="thumbnail-view_<%=gnib.id%>" class="thumbnail-view" style="overflow: hidden;">
      <table>
        <tbody>
          <tr>
            <td>
              <div id="thumbnail-desc_<%=gnib.id%>" class="thumbnail-desc" style=" float: left; width: 100%">
                <span style="color: #17aeff; font-size: 16px; font-weight: bold"><%=gnib.user.name%></span>
                <br/>
                <%=image_tag(image_path(gnib.user.avatar_url), :class=>"thumbnail-user-profile")%>
              </div>
            </td>
            <td>
              <div id="thumbnail-desc-msg_<%=gnib.id%>" class="thumbnail-msg" style="float:right; width: 100%; margin: auto">
                <%= gnib.parsed_description%>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
