
<script type="text/javascript">

  var renderTitles = function(ul, item) {
    return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + item.username + "</a>")
            .appendTo(ul);
  };

  var triggerChar = "@";
  var autoc = {
    source: '/users/taggable',
    focus: function(event, ui) {
      var de = "tr  " + JSON.stringify(ui.item);
      var identi = ui.item.username;
      var prev = $('#gnib_description').val();
      var pos = prev.lastIndexOf(triggerChar);
      if (pos !== -1) {
        var content = prev.substring(0, pos + 1);
        $('#gnib_description').val(content + identi);
      }
      return false;
    },
    select: function(event, ui) {
      var identi = ui.item.username;
      var prev = $('#gnib_description').val();
      var pos = prev.lastIndexOf(triggerChar);
      if (pos !== -1) {
        var content = prev.substring(0, pos + 1);
        $('#gnib_description').val(content + identi);
      }

      return false;
    },
    minLength: 2,
    triggerOnSpecial: true,
    specialChar: triggerChar,
    delay: 250
  };

  $(function() {
    $("#gnib_description").autocomplete(autoc)
            .data("uiAutocomplete")._renderItem = renderTitles;
  });

  console.log('submitting form on change');
  function ajaxSubmit() {
    $('#373737_busy_image').show();
    var action = '/gnibs/paste_content_url';
    var data = [{name: 'url', value: $('#paste_content_url_input').val()}];
    doAjaxSubmit(data, action, function() {
      $('#373737_busy_image').hide();
      $('#select-image-panel').show();
      $('#find-image-panel').hide();
    });
    return false;
  }

  var selected_image; //the currently selected image for upload.
///
</script>
<style type="text/css">
  input[type="text"].paste-content-field{
    border: 0px none !important;
    margin:0% 5%;
    width: 90%;
    background: rgba(204, 122, 204, 0.3);
  }
  button.find-image{
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 40%;
    margin-top: 10px;
    border-radius: 5px;
  }
  #content_url, #content_url_images{
    width: 98%;
    border: 3px solid #efefef;
    text-align: center;
    height: 47.8%;
    min-height: 47.8%;
  }
  #content_url{
    background: rgba(255, 70, 45, 0.9);
    border-radius: 8px 8px 0px 0px
  }
  #content_url_images, .content-url-image{
    border-radius: 0px 0px 8px 8px;
  }
  #content_url_images{
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
  #gnib_file_upload{
    width: 94%;
    margin-right: 4%;
    margin-left: 2%;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
  }
  #gnib_description_submit{
    width: 90%;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    height: 32px;
    text-align: center;
  }
  .carousel-control.new_gnib{
    top: 50px !important;
    z-index: 23000;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 40px;
    line-height: 20px;
  }
  .carousel-control.right_url{
    right: 5px;
  }
  .carousel-control.left_url{
    left: 5px;
  }
  .carousel.content_url{
    margin-bottom: 0px;
  }
  .content-url-comment{
    width: 90%; margin: auto;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 5px;
    border-radius: 5px;
    display: none;
    margin-bottom: 5px;
    position: relative;
    border-bottom-right-radius: 25px;
  }
  .comment-field{
    background: transparent;
    font-size: 12px;
    border: 0px none;
    margin: auto;
    color: #17aeff;
    height: 99%;
    border-radius: 5px
  }
</style>
<%= form_for(@gnib) do |f| %>
  <div id="new_gnib_727272727_<%=@gnib.id%>"
       class="gnib-thumbnail new_gnib_thumbnail"
       style="float: left; border: 2px solid #17aeff; margin-right: 2px; border-radius: 10px; position: relative">
    <input id="current_url_34783784980" type="hidden" name="current_url" value=""/>
    <input id="current_term_34783784980" type="hidden" name="term" value=""/>
    <input id="current_uid_34783784980" type="hidden" name="uid" value=""/>
    <input id="current_page_3447384734883" type="hidden" name="page" value=""/>
    <div id="content_url" >
      <h3>Add Url</h3>
      <%= f.text_field :link,  :id=>"paste_content_url_input", :placeholder=>"http://",
        :class=>"paste-content-field",
        :onchange=>"return ajaxSubmit();", :onkeypress=>"return onKeyPress(event);" %>
      <div id="find-image-panel" align="center" style="width: 100%">
        <button class="find-image" onclick="return ajaxSubmit();">Find Image</button>
      </div>
      <div id="select-image-panel" align="center" style="width: 100%; display: none">
        <button class="find-image" onclick="return onSelectImageClicked();">Select Image</button>
      </div>
      <br/>
      <img id="373737_busy_image" src="<%=image_path('ajax-loader.gif')%>" style="display: none; width: 20px; height: auto; z-index: 1000"/>
    </div>
    <div id="content_url_images">
    </div>
    <div id="gnib_description_1" class="content-url-comment content-url-image">
      <%= f.hidden_field :imageurl, :id=>"content_url_field" %>
      <%= f.hidden_field :video, :id => "is_video_field", :value => 'false'%>
      <%= f.hidden_field :title, :id => "title_field", :class => 'title_field'%>
      <%= f.text_area :description, :placeholder => "Add a comment", :rows => "3",
        :class=>"comment-field",
        :onkeypress => "return enforceMaxlength('gniblDescription', 76);", :maxlength => "77"%>
      <%= f.submit "", :class=>"gnibl-icon", :id=>"submitButton",
        :style=>"width: 40px !important; height: 40px !important; bottom: -13px; right: 0px; position: absolute",
        :onclick=>"sanitize();", :title=>"Gnib"%>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  document.getElementById('current_page_3447384734883').value = current_page;
  document.getElementById('current_url_34783784980').value = location.pathname;
  document.getElementById('current_term_34783784980').value = getParameterByName("term");
  document.getElementById('current_uid_34783784980').value = getParameterByName("uid");
  //find the current active div
  function onSelectImageClicked() {
    var activeImageDiv = $('.active.content_url');
    console.log(activeImageDiv.id);
    var url = $('.active.content_url').data('image-url');
    console.log('image-url: ' + url);
    if (url) {
      $('#content_url_field').val(url);
    }
    $('#content_url_images').hide();
    $('#gnib_description_1').show();
    resizeDataDisplay();
    return false;
  }
  function onImageClicked(id) {
    var url = $('#' + id).data('image-url');
    console.log('image-url: ' + url);
    $('#content_url_field').val(url);
    return false;
  }
  function onKeyPress(e) {
    if (e && e.keyCode === 13) {
      return ajaxSubmit();
    }
  }
</script>
