
<script type="text/javascript">

  var renderTitles = function(ul, item) {
    return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + item.username + "</a>")
            .appendTo(ul);
  };

  var triggerChar = "@";
  var autoc = {
    source: '/users/taggable',
    focus: function(event, ui) {
      var de = "tr  " + JSON.stringify(ui.item);
      var identi = ui.item.username;
      var prev = $('#gnib_description').val();
      var pos = prev.lastIndexOf(triggerChar);
      if (pos !== -1) {
        var content = prev.substring(0, pos + 1);
        $('#gnib_description').val(content + identi);
      }
      return false;
    },
    select: function(event, ui) {
      var identi = ui.item.username;
      var prev = $('#gnib_description').val();
      var pos = prev.lastIndexOf(triggerChar);
      if (pos !== -1) {
        var content = prev.substring(0, pos + 1);
        $('#gnib_description').val(content + identi);
      }

      return false;
    },
    minLength: 2,
    triggerOnSpecial: true,
    specialChar: triggerChar,
    delay: 250
  };

  $(function() {
    $("#gnib_description").autocomplete(autoc)
            .data("uiAutocomplete")._renderItem = renderTitles;
  });

  console.log('submitting form on change');
  function ajaxSubmit() {
    $('#373737_busy_image').show();
    var action = '/gnibs/paste_content_url';
    console.log($('#paste_content_url_input').val());
    form = '<form id="new_gnib_form" action="' + action + '"><input id="232783278_new_gnib_url_content" type="hidden" name="url" value=""/></form>'
    $(form).appendTo('body');
    $('#232783278_new_gnib_url_content').val($('#paste_content_url_input').val());
    $.ajax({
      type: 'GET',
      url: action,
      data: $('#new_gnib_form').serialize()
    });
    return false;
  }
///
</script>
<style type="text/css">
  input[type="text"].paste-content-field{
    border: 0px none !important;
    margin:0% 5%;
    width: 90%;
    background: rgba(204, 122, 204, 0.3);
  }
  button.find-image{
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 40%;
    margin-top: 10px;
    border-radius: 5px;
  }
  #content_url, #content_url_images{
    width: 98%;
    border: 3px solid #efefef;
    text-align: center;
    height: 47.8%;
    min-height: 47.8%;
  }
  #content_url{
    background: rgba(255, 70, 45, 0.9);
    border-radius: 8px 8px 0px 0px
  }
  #content_url_images, .content-url-image{
    border-radius: 0px 0px 8px 8px;
  }
  #content_url_images{
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
  #gnib_file_upload{
    width: 94%;
    margin-right: 4%;
    margin-left: 2%;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
  }
  #gnib_description_submit{
    width: 90%;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    height: 32px;
    text-align: center;
  }
</style>
<%= form_for(@gnib) do |f| %>
  <div id="new_gnib_727272727_<%=@gnib.id%>"
       class="gnib-thumbnail"
       style="margin-bottom: 5px; float: left; border: 2px solid #17aeff; margin-right: 2px; border-radius: 10px; position: relative">
    <input id="current_url_34783784980" type="hidden" name="current_url" value=""/>
    <input id="current_term_34783784980" type="hidden" name="term" value=""/>
    <input id="current_uid_34783784980" type="hidden" name="uid" value=""/>
    <input id="current_page_3447384734883" type="hidden" name="page" value=""/>
    <div id="gnib_description_1" style="width: 90%; margin: auto;
         background: rgba(255, 255, 255, 0.2); margin-top: 10px;border-radius: 30px; display: none">
         <%= f.text_area :description, :placeholder => "Add a comment", :rows => "3",
           :style=>"background: transparent; font-size: 12px; border: 0px none; margin: auto; color: #17aeff; height: 50px; border-radius: 30px",
           :onkeypress => "return enforceMaxlength('gniblDescription', 76);", :maxlength => "77"%>
    </div>
    <div id="content_url" >
      <h3>Add Url</h3>
      <%= f.text_field :link,  :id=>"paste_content_url_input", :placeholder=>"http://",
        :class=>"paste-content-field",
        :onchange=>"return ajaxSubmit();", :onkeypress=>"return onKeyPress(event);" %>
      <div align="center" style="width: 100%">
        <button class="find-image" onclick="return ajaxSubmit();">Find Image</button>
      </div>
      <br/>
      <img id="373737_busy_image" src="<%=image_path('ajax-loader.gif')%>" style="display: none; width: 20px; height: auto"/>
    </div>
    <div id="content_url_images">
    </div>
    <div id="gnib_description_submit" >
      <%= f.submit "", :class=>"gnibl-icon", :id=>"submitButton", :style=>"width: 30px !important; height: 30px !important", :onclick=>"sanitize();"%>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  document.getElementById('current_page_3447384734883').value = current_page;
  document.getElementById('current_url_34783784980').value = location.pathname;
  document.getElementById('current_term_34783784980').value = getParameterByName("term");
  document.getElementById('current_uid_34783784980').value = getParameterByName("uid");
  function onImageClicked(id) {
    $('#content_url_field').val($('#' + id).attr('data-image-url'));
    return false;
  }
  function onKeyPress(e) {
    if (e && e.keyCode === 13) {
      return ajaxSubmit();
    }
  }
</script>
