
<script type="text/javascript">

  var renderTitles = function(ul, item) {
    return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + item.title + "</a>")
            .appendTo(ul);
  };

  var triggerChar = "#";
  var autoc = {
    source: '/gnibs/titles',
    focus: function(event, ui) {
      var de = "tr  " + JSON.stringify(ui.item);
      var city_identi = ui.item.title;
      var prev = $('#gnib_description').val();
      var pos = prev.lastIndexOf(triggerChar);
      if (pos !== -1) {
        var content = prev.substring(0, pos + 1);
        $('#gnib_description').val(content + city_identi);
      }
      return false;
    },
    select: function(event, ui) {
      var city_identi = ui.item.title;
      var prev = $('#gnib_description').val();
      var pos = prev.lastIndexOf(triggerChar);
      if (pos !== -1) {
        var content = prev.substring(0, pos + 1);
        $('#gnib_description').val(content + city_identi);
      }

      return false;
    },
    minLength: 2,
    triggerOnSpecial: true,
    specialChar: triggerChar,
    delay: 250
  };

  $(function() {
    $("#gnib_description").autocomplete(autoc)
            .data("uiAutocomplete")._renderItem = renderTitles;
  });

  console.log('submitting form on change');
  function ajaxSubmit() {
    $('#373737_busy_image').show();
    var action = '/gnibs/paste_content_url';
    console.log($('#paste_content_url_input').val());
    form = '<form id="new_gnib_form" action="' + action + '"><input id="232783278_new_gnib_url_content" type="hidden" name="url" value=""/></form>'
    $(form).appendTo('body');
    $('#232783278_new_gnib_url_content').val($('#paste_content_url_input').val());
    $.ajax({
      type: 'GET',
      url: action,
      data: $('#new_gnib_form').serialize()
    });
    return false;
  }
///
</script>

<div id="new_gnib_727272727_<%=@gnib.id%>"  class="gnib-thumbnail" style="margin-bottom: 5px; float: left; border: 2px solid #17aeff; margin-right: 2px; border-radius: 10px ">
  <%= form_for(@gnib) do |f| %>
    <input id="current_url_34783784980" type="hidden" name="current_url" value=""/>
    <input id="current_term_34783784980" type="hidden" name="term" value=""/>
    <input id="current_uid_34783784980" type="hidden" name="uid" value=""/>
    <input id="current_page_3447384734883" type="hidden" name="page" value=""/>
    <div id="gnib_description_1" style="width: 90%; margin: auto; background: rgba(255, 255, 255, 0.2); margin-top: 10px;border-radius: 30px">
      <%= f.text_area :description, :placeholder => "Add a comment", :rows => "3",
        :style=>"background: transparent; font-size: 12px; border: 0px none; margin: auto; color: #17aeff; height: 50px; border-radius: 30px",
        :onkeypress => "return enforceMaxlength('gniblDescription', 76);", :maxlength => "77"%>
    </div>
    <div id="gnib_file_upload" style="width: 80%; margin: auto; background: rgba(255, 255, 255, 0.9); margin-top: 10px" class="upload">
      <div id="content_url" style="width: 100%">
        <input id="paste_content_url_input" type="text" name="url" placeholder="Paste content url..."
               style="border-bottom: 2px solid #ddd; margin:0px; padding:0px; padding-left: 5px; width: 70%"
               onchange="return ajaxSubmit();" onkeypress="return onKeyPress(event);"/>
        <img id="373737_busy_image" src="<%=image_path('ajax-loader.gif')%>" style="display: none; width: 20px; height: auto"/>
      </div>
      <div id="content_url_images" style="width: 100%; display: none; height: 80px; max-height: 80px; overflow-y: scroll; background: rgba(0, 0, 0, 0.5)">
      </div>
      <div id="file_upload_option" style="width: 100%">
        <div class="fakeupload">
          <input type="text" value=" (OR) upload an image" name="fakeupload" style="color: #17aeff; height: 50px !important; width: 100% !important" />
        </div>
        <%= f.file_field :image, :class=>"realupload", :style=>"color: black; border: 0px",
          :onchange=>"this.form.fakeupload.value = this.value;"%>
      </div>
    </div>
    <div id="gnib_description_submit" style="width: 90%; margin: auto; background: rgba(0, 0, 0, 0.5);margin-top: 10px; height: 42px; text-align: center">
      <%= f.submit "", :class=>"gnibl-icon", :id=>"submitButton", :style=>"width: 40px; height: 40px", :onclick=>"sanitize();"%>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  document.getElementById('current_page_3447384734883').value = current_page;
  document.getElementById('current_url_34783784980').value = location.pathname;
  document.getElementById('current_term_34783784980').value = getParameterByName("term");
  document.getElementById('current_uid_34783784980').value = getParameterByName("uid");

  function onImageClicked(id) {
    $('#content_url_field').val($('#' + id).attr('data-image-url'));
    return false;
  }

  function onKeyPress(e) {
    if (e && e.keyCode === 13) {
      return ajaxSubmit();
    }
  }
</script>
