<!DOCTYPE html>
<html>
  <head>
    <title>Gnibl</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>


    <%= javascript_include_tag "application" %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>

    <%= csrf_meta_tags %>


    <script type="text/javascript">
      var current_page = 0; //this is a global variable used to track the current gnib page
      function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
      }
      function onLoginPage() {
        if (location.pathname === '/' || location.pathname === '/signup') {
          //we try to make the height and width of the gnibl login page the same
          var loginMain = document.getElementById('login-main');
          if (loginMain) {
            var width = Math.floor(0.7 * window.innerHeight);
            loginMain.style.height = width + 'px';
            loginMain.style.width = width + 'px';
            var sideP = window.innerWidth * ((1.0 - (width / window.innerWidth)) / 6.0);
            loginMain.style.right = sideP + 'px';
            var topMargin = Math.floor(0.05 * window.innerHeight);
            var loginMainPanel = document.getElementById('login-main-panel');
            loginMainPanel.style.paddingTop = topMargin + 'px';
          }
          console.log(location.pathname);
          document.getElementById('footer').style.width = '100%';
        }
      }
      function init() {
        try {
          //include all init functions here
          rectifyGnibs();
          onLoginPage();
        } catch (e) {

        }
      }
      function modelessBusyStart() {
        $('#modelessAjaxLoading').show();
      }
      function modelessBusyEnd() {
        $('#modelessAjaxLoading').hide();
      }
      $(document).ready(function() {
        $('#gnib_main_panel_0').bind('scroll', function() {
          console.log('scrolling activated...................');
          var sw = $('#gnib_main_panel_0').scrollLeft();
          var inner_sw = $('#gnib_main_panel_0 #gnib_panel_holder').width();
          var this_sw = $('#gnib_main_panel_0').width();
          var w_diff = inner_sw - this_sw;
          if (sw >= (w_diff - 20)) {
            var action = '<%= request.path %>';
            var current_page = $(this).data('page') + 1;
            var pages = $(this).data('pages');
            $(this).data('page', current_page);
            if (current_page <= pages) {
              modelessBusyStart();
              var data = [
                {name: 'page', value: current_page},
                {name: 'current_url', value: '<%= request.fullpath %>'}
              ];
              doAjaxSubmit(data, action, function(response) {
                var current_width = $('#gnib_panel').width();
                console.log("gnib_panel: width=" + current_width);
                var next_page_width = 2980;
                if (action.endsWith('/gnibblings') || action.endsWith('/followers')) {
                  next_page_width = 3200;
                }
                current_width += next_page_width;
                $('#gnib_panel').width(current_width);
                rectifyGnibs();
                modelessBusyEnd();
              });
            }
          }
        });
      });
    </script>
    <style type="text/css">
      body{
        height: 100% !important;
      }
    </style>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <body id="body" onload="init();">
    <div class="frame-outer" id = "mainframe">
      <div class = "success-panel" id="successPanel">
        </br></br>
        Cheers! verify your email and begin
      </div>
    </div>
    <div id="modelessAjaxLoading" style="position: fixed; bottom: 5px; right: 4px; background: none; display: none">
      <%= image_tag(image_path('loading.gif'), :height=>"40", :width=>"60") %>
    </div>

    <div id="main">
      <div id="messages" style="display: none; vertical-align: middle; position: fixed; top: 5px">
        <%= image_tag(image_path('info.png'), :style=>"float: left; width: 20%; height: auto") %>
        <button class="dialog-close-icon" onclick="jQuery('div#messages').hide();
        return false;" style="float: right; margin-right: 3px;"></button>
        <div id="messagePanel" style="width: 60%; display: table-cell; vertical-align: middle; height: 100%; margin: auto">Message here</div>
      </div>
      <div id="indicator" style="display: block; position: fixed; top: -100px">
        Please wait.....
      </div>
      <div id="gniblMainPage" style="height: 100%; width: 100%; margin: 0px; position: absolute; top: 0px;">
        <%= yield %>
      </div>
      <div class="bottomnav" >
        <div align="right" style="width: 98%; padding-top: 15px">
          <span class="copyright">Gnibl Site Copyright 2013 &copy</span>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function showGnibThumbnailControl(id) {
        $('#' + id).slideDown(600, function() {
          this.show();
        });
      }
      function hideGnibThumbnailControl(id) {
        var div = document.getElementById(id);
        if (div) {
          div.style.display = "none";
        }
      }
      var show_setting = false;
      function handleSettingOptions() {
        show_setting = !show_setting;
        if (show_setting) {
          showSettings();
        } else {
          hideSettings();
        }
      }
      function showSettings() {
        var st = document.getElementById('setting-header');
        if (st) {
          st.style.display = 'block';
        }
      }
      function hideSettings() {
        var st = document.getElementById('setting-header');
        if (st) {
          st.style.display = 'none';
        }
      }
      function showOption(id) {
        var option = document.getElementById(id);
        if (option) {
          option.style.display = 'table-cell';
        }
      }
      function updateGnibCounts(e, gnibCount, gnibCountId) {
        if (gnibCount > 0) {
          alert("You've already gnibed this gnib");
          return false;
        }
        var gc = document.getElementById(gnibCountId);
        console.log(gc);
        if (gc) {
          var gnibs = gc.innerText;
          console.log('fd:' + gnibs);
          var counts = +gnibs;
          counts = counts + 1;
          gc.innerText = counts;
        }
      }
      function showGnibModal() {
        var modal = document.getElementById('gnibl-modal-mp');
        if (modal) {
          modal.style.display = 'block';
        }
      }
      function gnibSomething() {
        var dialog = document.getElementById('gnib_something_dialog');
        var main_dialog = document.getElementById('main_gnib_something_dialog');
        console.log(dialog);
        if (dialog) {
          dialog.style.display = 'table-cell';
          var width = window.innerWidth;
          var height = window.innerHeight;
          dialog.style.width = width + 'px';
          dialog.style.height = height + 'px';
          main_dialog.style.height = height + 'px';
          main_dialog.style.width = width + 'px';
        }
      }
      function cancelGnibSomething() {
        var dialog = document.getElementById('gnib_something_dialog');
        dialog.style.display = 'none';
      }
      function enforceMaxlength(id, maxlength, count_id) {
        var obj = document.getElementById(id);
        console.log('id:' + id);
        if (count_id && obj) {
          $('#' + count_id).val(obj.value.length+"/"+maxlength);
        }
        if (obj) {
          return obj.value.length <= maxlength;
        }
      }
<% if current_user? @user %>
        try {
          document.getElementById("current_user_file_upload").onchange = function() {
            console.log('submitting form');
            document.getElementById("current_user_form").submit();
          }
        } catch (e) {
        }
<% end %>
<%#*global variable%>
      var gnib_thumnail_height = 0;
      function rectifyGnibs() {
<%#*//find all the thumnails%>
<%#*var width = window.innerWidth;%>
<%#*var gt_width = gnib_thumnail_height = Math.floor(0.235 * width);%>
<%#*$('.gnib-thumbnail').height(gt_width);%>
<%#*$('.gnib-thumbnail').width(gt_width);%>
<%#*if ($('.new_gnib_thumbnail').length) {%>
<%#*$('.new_gnib_thumbnail').height(gt_width);%>
<%#*}%>
      }
      function rectifyGnib(id) {
        //set the sizes of the thumbnail, four per page.
        var className = 'gnib-thumbnail';
        //find all the thumnails
        var width = window.innerWidth;
        var gt_width = Math.floor(0.195 * width);
        var btn = document.getElementById(id);
        if ((btn.className + '').indexOf(className) !== -1) {
          btn.style.height = (gt_width) + 'px';
          btn.style.width = (gt_width) + 'px';
          btn.style.minWidth = (gt_width) + 'px';
        } else if ((btn.className + '').indexOf('thumbnail-desc') !== -1) {
          btn.style.width = (gt_width - 90) + 'px';
        } else if ((btn.className + '').indexOf('thumbnail-msg') !== -1) {
          btn.style.width = (gt_width - 90) + 'px';
        }
      }
      var dlg = document.getElementById('dialog-content');
      var width = Math.floor(0.4 * window.innerWidth);
      if (dlg) {
        dlg.style.width = width + 'px';
        dlg.style.height = width + 'px';
      }

      function updateProfile() {
        var v = document.getElementById('update-profile');
        console.log(v.style.display);
        if (!v.style.display || v.style.display === 'none') {
          v.style.display = 'table-cell';
        }
      }

      function CommentSlider() {
        this.className = "gnib_comment_737373737";
        this.comments = new Array();
        this.current_index = -1;
        this.init = function() {
          var documents = document.getElementsByTagName('*'), j;
          var i = 0;
          for (j in documents) {
            var doc = documents[j];
            if (doc && doc.className) {
              if (doc.className.indexOf(this.className) !== -1) {
                this.comments[i] = doc;
                i += 1;
              }
            }
          }
          this.next();
        }
        this.closeLast = function() {
          var currentDoc = this.comments[this.current_index];
          //close it
          if (currentDoc) {
            currentDoc.style.display = 'none';
          }
        }
        this.next = function() {
          this.closeLast();
          var size = this.comments.length;
          this.current_index += 1;
          this.current_index = this.current_index % size;
          var currentDoc = this.comments[this.current_index];
          if (currentDoc) {
            //show the current one and then slides down
            currentDoc.style.display = 'block';
          }
        }
        this.previous = function() {
          this.closeLast();
          var size = this.comments.length;
          if (this.current_index === 0) {
            this.current_index = size;
          }
          this.current_index -= 1;
          this.current_index = this.current_index % size;
          var currentDoc = this.comments[this.current_index];
          if (currentDoc) {
            //show the current one and then slides down
            currentDoc.style.display = 'block';
          }
        }

        this.hasNext = function() {
          return this.current_index < (this.comments.length - 1);
        }
        this.hasPrevious = function() {
          return this.current_index > 0;
        }
      }

      function slideDocuments(documents, current_i) {
        var size = documents.length;
        var i = current_i % size;
        var currentDoc = documents[i];
        //show the current one and then slides down
        $(currentDoc.id).slideDown(600, function() {
          this.show();
        });
        //close it
        currentDoc.style.display = 'none';
      }

      function onGnibModalLoaded(numberOfItems) {
        try {
          //get all the documents with class name
          var className = 'gnib_comment_737373737';
          var i = 0; //the current comment
          var comments = new Array();
          var documents = document.getElementsByTagName('*'), j;
          for (j in documents) {
            var doc = documents[j];
            if (doc && doc.className) {
              if (doc.className.indexOf(className) !== -1) {
                comments[i] = doc;
                i += 1;
              }
            }
          }
        } catch (e) {
          console.log('error occured')
          console.log(e.message);
        }
      }
      jQuery.fn.extend({
        slideRightShow: function() {
          return this.each(function() {
            $(this).show('slide', {direction: 'right'}, 1000);
          });
        },
        slideLeftHide: function() {
          return this.each(function() {
            $(this).hide('slide', {direction: 'left'}, 1000);
          });
        },
        slideRightHide: function() {
          return this.each(function() {
            $(this).hide('slide', {direction: 'right'}, 1000);
          });
        },
        slideLeftShow: function() {
          return this.each(function() {
            $(this).show('slide', {direction: 'left'}, 1000);
          });
        }
      });

      //for the use by content -url image loading
      function resizeDataDisplay() {
        gnib_thumnail_height = 320;
        var width = (gnib_thumnail_height - 5) / 1.2;
        var height = (gnib_thumnail_height - 5) / 2.2;
        $('.content-url-image').height(height);
        $('.content-url-image').width(width);
      }
      function initContentUrl() {
        console.log('starting content url.........');
        resizeDataDisplay();
        $('#content_url_images_panel').carousel({
          interval: false
        });
      }
    </script>

    <script type="text/javascript">
      var gnibs = new Array();
      var gnib_index = 0;
<% if @gnibs %>
  <% @gnibs.each do |gnib| %>
          gnibs.push(<%=gnib.id%>);
  <% end %>
<% end %>
      function next() {
        gnib_index = (gnib_index + 1) % gnibs.length;
        console.log('next gnib: ' + gnib_index);
        var gnib_id = gnibs[gnib_index];
        doAjaxSubmit({gnib_id: gnib_id}, '/gnibs/retcomment');
      }

      function previous() {
        if (gnib_index === 0) {
          gnib_index = gnibs.length;
        }
        gnib_index = (gnib_index - 1) % gnibs.length;
        var gnib_id = gnibs[gnib_index];
        doAjaxSubmit({gnib_id: gnib_id}, '/gnibs/retcomment');
      }

      function resetCurrentIndex(gnib_id) {
        gnib_index = gnibs.indexOf(gnib_id);
        console.log('resetCurrentIndex: ' + gnib_index);
      }
      function resetGnibs(new_gnibs) {
        gnibs = new_gnibs;
        gnib_index = 0;
      }
    </script>
    <div id="gnibl-modal-mp" class="gnibl-modal-mp" style="overflow-y: auto; width: 100% "></div>
  </body>
</html>
