<!DOCTYPE html>
<html>
  <head>
    <title>Gnibl</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>
    <%= javascript_include_tag "jquery-ui-1.10.3.custom.min.js" %>
    <%= stylesheet_link_tag    "ui-lightness/jquery-ui-1.10.3.custom.css" %>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var current_page = 0; //this is a global variable used to track the current gnib page
      function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
      }
      function onLoginPage() {
        if (location.pathname === '/' || location.pathname === '/signup') {
          //we try to make the height and width of the gnibl login page the same
          var loginMain = document.getElementById('login-main');
          if (loginMain) {
            var width = Math.floor(0.7 * window.innerHeight);
            loginMain.style.height = width + 'px';
            loginMain.style.width = width + 'px';
            var sideP = window.innerWidth * ((1.0 - (width / window.innerWidth)) / 6.0);
            loginMain.style.right = sideP + 'px';
            var topMargin = Math.floor(0.05 * window.innerHeight);
            var loginMainPanel = document.getElementById('login-main-panel');
            loginMainPanel.style.paddingTop = topMargin + 'px';
          }
          console.log(location.pathname);
          document.getElementById('footer').style.width = '100%';
        }
      }
      function init() {
        //include all init functions here
        rectifyGnibs();
        onLoginPage();
      }
    </script>
  </head>
  <body id="body" onload="init();">
    <div id="main">
      <div id="messages" style="display: none; vertical-align: middle; position: fixed; top: 5px">
        <%= image_tag(image_path('info.png'), :style=>"float: left; width: 20%; height: auto") %>
        <button class="dialog-close-icon" onclick="jQuery('div#messages').hide();
        return false;" style="float: right; margin-right: 3px;"></button>
        <div id="messagePanel" style="width: 60%; display: table-cell; vertical-align: middle; height: 100%; margin: auto">Message here</div>
      </div>
      <div id="indicator" style="display: block; position: fixed; top: -100px">
        Please wait.....
      </div>
      <div id="gniblMainPage" style="height: 100%; width: 100%; margin: 0px; position: absolute; top: 0px;">
        <%= yield %>
      </div>
      <div align="center" id="footer">
        <table style="width: 100%; padding: 5px; height: 100%">
          <tbody>
            <tr>
              <td class="centered" style="width: 10%"><a href="#">About us</a></td>
              <td class="centered" style="width: 2%"><div class="circle"></div></td>
              <td class="centered" style="width: 10%"><a href="#">Contact us</a></td>
              <td class="centered" style="width: 2%"><div class="circle"></div></td>
              <td class="centered" style="width: 15%"><a href="#">terms and conditions</a></td>
              <td class="centered" style="float: right; padding-right: 20px">Gnibl Site Copyright 2013 &copy;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript">
      function showGnibThumbnailControl(id) {
        $('#' + id).slideDown(600, function() {
          this.show();
        });
      }
      function hideGnibThumbnailControl(id) {
        var div = document.getElementById(id);
        if (div) {
          div.style.display = "none";
        }
      }
      var show_setting = false;
      function handleSettingOptions() {
        show_setting = !show_setting;
        if (show_setting) {
          showSettings();
        } else {
          hideSettings();
        }
      }
      function showSettings() {
        var st = document.getElementById('setting-header');
        if (st) {
          st.style.display = 'block';
        }
      }
      function hideSettings() {
        var st = document.getElementById('setting-header');
        if (st) {
          st.style.display = 'none';
        }
      }
      function showOption(id) {
        var option = document.getElementById(id);
        if (option) {
          option.style.display = 'table-cell';
        }
      }
      function updateGnibCounts(e, gnibCount, gnibCountId) {
        if (gnibCount > 0) {
          alert("You've already gnibed this gnib");
          return false;
        }
        var gc = document.getElementById(gnibCountId);
        console.log(gc);
        if (gc) {
          var gnibs = gc.innerText;
          console.log('fd:' + gnibs);
          var counts = +gnibs;
          counts = counts + 1;
          gc.innerText = counts;
        }
      }
      function showGnibModal() {
        var modal = document.getElementById('gnibl-modal-mp');
        if (modal) {
          modal.style.display = 'block';
        }
      }
      function gnibSomething() {
        var dialog = document.getElementById('gnib_something_dialog');
        var main_dialog = document.getElementById('main_gnib_something_dialog');
        console.log(dialog);
        if (dialog) {
          dialog.style.display = 'table-cell';
          var width = window.innerWidth;
          var height = window.innerHeight;
          dialog.style.width = width + 'px';
          dialog.style.height = height + 'px';
          main_dialog.style.height = height + 'px';
          main_dialog.style.width = width + 'px';
        }
      }
      function cancelGnibSomething() {
        var dialog = document.getElementById('gnib_something_dialog');
        dialog.style.display = 'none';
      }
      function enforceMaxlength(id, maxlength) {
        var obj = document.getElementById(id);
        console.log('id:' + id);
        if (obj) {
          return obj.value.length <= maxlength;
        }
      }
<% if current_user? @user %>
        document.getElementById("current_user_file_upload").onchange = function() {
          console.log('submitting form');
          document.getElementById("current_user_form").submit();
        }
<% end %>
      function rectifyGnibs() {
        //set the sizes of the thumbnail, four per page.
        var className = 'gnib-thumbnail';
        //find all the thumnails
        var width = window.innerWidth;
        var gt_width = Math.floor(0.195 * width);
        //get the buttons themselves
        var thumbnails = document.getElementsByTagName('*'), i;
        for (i in thumbnails) {
          var btn = thumbnails[i];
          if ((btn.className + '').indexOf(className) !== -1) {
            if (btn.id.contains('new_gnib_727272727_')) {
              //the new gnib has border of width 2px
              btn.style.height = (gt_width - 4) + 'px';
              btn.style.width = (gt_width - 8) + 'px';
              btn.style.minWidth = (gt_width - 6) + 'px';
            } else {
              btn.style.height = (gt_width) + 'px';
              btn.style.width = (gt_width) + 'px';
              btn.style.minWidth = (gt_width) + 'px';
              //find the child of this div with the specified id
              var gnibImage = document.getElementById('gnib_' + btn.id);
              if (gnibImage) {
                gnibImage.style.height = (gt_width) + 'px';
                gnibImage.style.width = (gt_width + 15) + 'px';
              }
            }
          }
        }
      }
      function rectifyGnib(id) {
        //set the sizes of the thumbnail, four per page.
        var className = 'gnib-thumbnail';
        //find all the thumnails
        var width = window.innerWidth;
        var gt_width = Math.floor(0.195 * width);
        var btn = document.getElementById(id);
        if ((btn.className + '').indexOf(className) !== -1) {
          btn.style.height = (gt_width) + 'px';
          btn.style.width = (gt_width) + 'px';
          btn.style.minWidth = (gt_width) + 'px';
        } else if ((btn.className + '').indexOf('thumbnail-desc') !== -1) {
          btn.style.width = (gt_width - 90) + 'px';
        } else if ((btn.className + '').indexOf('thumbnail-msg') !== -1) {
          btn.style.width = (gt_width - 90) + 'px';
        }
      }
      var dlg = document.getElementById('dialog-content');
      var width = Math.floor(0.4 * window.innerWidth);
      if (dlg) {
        dlg.style.width = width + 'px';
        dlg.style.height = width + 'px';
      }

      function updateProfile() {
        var v = document.getElementById('update-profile');
        console.log(v.style.display);
        if (!v.style.display || v.style.display === 'none') {
          v.style.display = 'table-cell';
        }
      }

      function CommentSlider() {
        this.className = "gnib_comment_737373737";
        this.comments = new Array();
        this.current_index = -1;
        this.init = function() {
          var documents = document.getElementsByTagName('*'), j;
          var i = 0;
          for (j in documents) {
            var doc = documents[j];
            if (doc && doc.className) {
              if (doc.className.indexOf(this.className) !== -1) {
                this.comments[i] = doc;
                i += 1;
              }
            }
          }
          this.next();
        }
        this.closeLast = function() {
          var currentDoc = this.comments[this.current_index];
          //close it
          if (currentDoc) {
            currentDoc.style.display = 'none';
          }
        }
        this.next = function() {
          this.closeLast();
          var size = this.comments.length;
          this.current_index += 1;
          this.current_index = this.current_index % size;
          var currentDoc = this.comments[this.current_index];
          if (currentDoc) {
            //show the current one and then slides down
            currentDoc.style.display = 'block';
          }
        }
        this.previous = function() {
          this.closeLast();
          var size = this.comments.length;
          if (this.current_index === 0) {
            this.current_index = size;
          }
          this.current_index -= 1;
          this.current_index = this.current_index % size;
          var currentDoc = this.comments[this.current_index];
          if (currentDoc) {
            //show the current one and then slides down
            currentDoc.style.display = 'block';
          }
        }

        this.hasNext = function() {
          return this.current_index < (this.comments.length - 1);
        }
        this.hasPrevious = function() {
          return this.current_index > 0;
        }
      }

      function slideDocuments(documents, current_i) {
        var size = documents.length;
        var i = current_i % size;
        var currentDoc = documents[i];
        //show the current one and then slides down
        $(currentDoc.id).slideDown(600, function() {
          this.show();
        });
        //close it
        currentDoc.style.display = 'none';
      }

      function onGnibModalLoaded(numberOfItems) {
        try {
          //get all the documents with class name
          var className = 'gnib_comment_737373737';
          var i = 0; //the current comment
          var comments = new Array();
          var documents = document.getElementsByTagName('*'), j;
          for (j in documents) {
            var doc = documents[j];
            if (doc && doc.className) {
              if (doc.className.indexOf(className) !== -1) {
                comments[i] = doc;
                i += 1;
              }
            }
          }
        } catch (e) {
          console.log('error occured')
          console.log(e.message);
        }
      }
      jQuery.fn.extend({
        slideRightShow: function() {
          return this.each(function() {
            $(this).show('slide', {direction: 'right'}, 1000);
          });
        },
        slideLeftHide: function() {
          return this.each(function() {
            $(this).hide('slide', {direction: 'left'}, 1000);
          });
        },
        slideRightHide: function() {
          return this.each(function() {
            $(this).hide('slide', {direction: 'right'}, 1000);
          });
        },
        slideLeftShow: function() {
          return this.each(function() {
            $(this).show('slide', {direction: 'left'}, 1000);
          });
        }
      });
<% if current_user %>
        function ajaxSlide(idx, current_page) {
          $('.item').html('<div align="center" style="width: 90%; text-align: center; left: 8%">Please wait .....</div>');
          var current_url = '<%= request.path %>';
          var gnibs = current_url.endsWith('<%=current_user.html_safe_username%>');
          var search = !gnibs && current_url.contains('gnibs/search');
          var user_search = !search && current_url.contains('users/search');
          var action;
          if (gnibs) {
            action = '/users/<%=current_user.html_safe_username%>/next_gnibs';
          } else if (search) {
            action = "/gnibs/next_search?term=" + getParameterByName("term");
          } else if (user_search) {
            action = "/users/next_search?uid=" + getParameterByName("uid");
          } else {
            action = '/users/<%=current_user.html_safe_username%>/next_feed'
          }
          var data = [
            {name: 'page', value: current_page},
            {name: 'current_url', value: '<%= request.fullpath %>'}
          ];
          doAjaxSubmit(data, action, function(response) {
            $('#gnib_main_panel').carousel(idx);
            //set the active count
            $('.carousel-count').removeClass('active disabled');
            $('#carousel-count_' + current_page).addClass('active disabled');
          });
        }

        $(document).ready(function() {
          $('#gnib_main_panel').carousel({
            interval: false
          });
          // when the carousel slides, load the ajax content
          $('#gnib_main_panel').on('slid', function(e) {
            // get index of currently active item
            var idx = $('#gnib_main_panel .item.active').index();
            var current_page = $('.item.active').data('slide-number');
            ajaxSlide(idx, current_page);
          });
          //add click event to carousel counts
          $('.carousel-count:not(.disabled)').click(function() {
            //get the data
            var current_page = $(this).data('count');
            $('#gnib_main_panel').carousel(current_page);
          });
        });
<% end %>
    </script>
    <div id="gnibl-modal-mp" class="gnibl-modal-mp" style="overflow-y: auto"></div>
  </body>
</html>
